
body{
	margin: 1%;
	padding:1%;
	background-color: rgba(0,0,255,.2);
	font-size: 100%;
	min-width: 500px;

}
header h1{
	font-size: 3rem;
	color:rgba(0,0,0,.7);;

}

nav a{
	display:block;
	background-color: white;
	border: 1px solid black;
	text-align: center;
	border-radius: 35px;
	text-decoration: none;
	padding: 2%;
	margin: 1%;
}

h1{
	text-align: center;
	color:rgba(255,0,0,.7);;
}



.myClass{
	margin: 0em 1em;
	padding:.75em;
	border: 1px solid black;
	border-radius: .25%;

	/* Safari and Chrome */	
	-webkit-column-count:3;
	-moz-column-count: 3;
	column-count:3;
	
}



ol{
	list-style:upper-roman; 
	margin:1em;
}
img{
	display: none;
}

footer{
	border: dashed 1px black;
	clear: both;
	text-align:center;
	text-transform: uppercase;
}



@media screen and (min-width:800px){    
     h1:after{
         content:"(I guess.)"
     }   
    #left > ol{
        border: black solid 4px;
    }
    #left {
        display:inline-block;
        width:40%;
        float:left;
    }
    #center{
        display:inline-block;
        float:left;
        width:50%;
    }
    
    img{
        display:inline-block;
        width:10%;
        margin-left: 20px;
        height:10%;
        
    }
}

@media print{
    body{
        background:white;
    }
    h1{
        display:none;
    }
    nav a {
        border: none;
        text-decoration: underline;
    }
}